name: Simple Java CI

on:
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    needs: []
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Run Checkstyle
        working-directory: ./java
        run: mvn checkstyle:check -Dencoding=UTF-8

  test:
    runs-on: ubuntu-latest
    needs: []
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Run tests
        working-directory: ./java
        run: mvn test -Dencoding=UTF-8
